In [52]:
#Python

#Word > String
#Number < Integer or Float

#Integers (int) = 
#Real Numbers (float) = 21.213
#Words or text ('string') = 'Hello World'

#to see the data type we type "type" and shift to run

#integers = negative or positive whole numbers
#floats = include decimals

#typecasting = convert to float, integer, or string

#boolean values
#True = 1
#False = 0

#upper case T or F for True or False

#Expressions
   #Operands are strings, int, floats. 
    #Operators are the signs... + - * / and //
    
    / creates a float
    // creates an integer

#You can do a variety of mathematical operations in Python including:
#addition: 2 + 2
#subtraction: 5 - 2
#multiplication: 3 * 2
#division: 4 / 2
#exponentiation: 4 ** 2

#Boolean is another important  type in Python; a Boolean can take on two values. The first value is true, just remember we use an uppercase T:
True

#If we cast a Boolean true to an integer or float we will get a 1, if we cast a Boolean false to an integer or float. If we get a zero if you cast a 1 to a boolean, you get a true similarly, if you cast a 0 to a Boolean you get a false.
int(True)

EXPRESSIONS

#Python follows mathematical conventions when performing mathematical expressions. The following operations are in different order. In both cases Python performs multiplication, then addition to obtain the final result.

2 * 60 + 30

#The expressions in the parentheses are performed first. We then multiply the result by 60, the result is 1920.
    
(30 + 2) * 60  




25 / 6
4.166666666666667

160 // 60
2

VARIABLES

43 + 60 + 16 + 41

#To return the value of **`x`**, we can simply run the variable as a command:
x = 43 + 60 + 16 + 41

#We can also perform operations on **`x`** and save the result to a **new variable**:

y = x / 60
y
2.6666666666666665

#If we save something to an **existing variable**, it will **overwrite** the previous value:

x = x / 60
x

#It's good practice to use **meaningful variable names**, so you don't have to keep track of what variable is what:
    
total_min = (43 + 42 )
total_min

STRINGS

String is a sequence of characters contained within two quotes: 
    "Michael Jackson"
    
    You can also use single quotes 'Michael Jackson'
    A string can be spaces or digits "1 2 3 4 5 6"
    A string can also be special charaters: '@#2_#]&*^%$'
        
        Name= "Michael Jackson"
        Think of a string as an ordered sequence:  M I C H A E L   J  A  C  K  S  O  N
                                                   0 1 2 3 4 5 6 7 8  9  10 11 12 13 14  
                Each element in the sequence can be accessed in an index represnted by a sequence of numbers
                Name[0]:M
                Name[6]:L
                Name[13]o
                
                Can also use negative indexing with strings
                
                M   i    c   h  a  e  l   J  a  c  k  s  o  n
               -15 -14 -13 -12 -13                          -1
                Name[-1]: n
                Name[-15]: M
                    
                    
                Michael Jackson
                Name: [0:4]=Mich
                Name: [8:12]=Jack
                    
    Name:[::2] "Mcaljcsn"    < grabs every second variable            
    Name[0:5:2]: "Mca" < every second value upto index 4
                
               
OBTAIN LENGTH
   Len Command to obtain the length of the string

   Len("Michael Jackson") < result is 15

COMBINE STRINGS

   Name: "Michael Jackson"
   Statement=Name+"is the best"
   Statement= "Michael Jackson is the best"

Replicate Values of a Stirng

3* "Michael Jackson"

IndentationError: unexpected indent (<ipython-input-52-02095ddc759e>, line 27)

In [ ]:
#Quiz
#What is the value of x?

x = 3 + 2 * 2

3 + 2* 2
#Out: 7
    
#What is the value of y ?
y = (3 + 2) * 2

(3 + 2) * 2
10

x = 3 + 2 * 2
y = (3 + 2) * 2

z = x + y
x + y
17

In [48]:

type(True)

bool

In [35]:
#Python peforms Multiplication First

#but expressions in parenthesis go first.

#2 x 60 + 30 
#120 + 30 = 150
# press shift + enter to run command

In [41]:
2 * 60 + 30

150

In [45]:
(30 + 2) * 60

1920

In [48]:
#Variables

#my_variables = 1

#my_variable: 1

In [47]:
#Float = 1.33
#Integer = -1, 0, 3, etc. 

#Rounding: If go from float to integer, Python always rounds down

#Type Command =  type(1) < will print data type (Object). This one is an Integer, and not a decimal place Float. 

#Typecasting = changing the Object (data) Type

' symbol makes it a string'  '1' is a string and not an integer because it has ''

SyntaxError: invalid syntax (<ipython-input-47-f0cf493becf4>, line 10)

In [1]:
print('Hello World!')

Hello World!

In [2]:
print ("Hello Python 101") #this is my comment
#print('Hi')

Hello Python 101

In [5]:
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [6]:
print('hello world') #printing hello world

hello world

In [10]:
#use type command to see data type

type(12)

int

In [11]:
type(2.14)

float

In [12]:
type("Hellow Python 101")

str

In [1]:
type(-1)

int

In [2]:
type(4)

int

In [3]:
type(0)

int

In [10]:
#Convert Object

float(2)

2.0

In [6]:
#Convert Object

type(float(2))

float

In [11]:
#Convert to Integer

int(1.9)

1

In [12]:
#Convert STring to Float
float('1.2')

1.2

In [13]:
However we cannot convert a string with a non-numerical value to an integer or float

int("A")

SyntaxError: invalid syntax (<ipython-input-13-2d7c40b3b78d>, line 1)

In [14]:
#You can however convert an int (integer) to a Str (String)

str(1.2)

'1.2'

In [15]:
#Boolean is another important  type in Python; a Boolean can take on two values. The first value is true, just remember we use an uppercase T:

True

True

In [17]:
# Boolean values can also be false, with  an uppercase F:
False

False

In [18]:
#Using the type command on a Boolean value we  obtain the term bool, this is short for Boolean 

type(True)

bool

In [19]:
type(False)

bool

In [20]:
#If we cast a Boolean true to an integer or float we will get a 1, if we cast a Boolean false to an integer or float. If we get a zero if you cast a 1 to a boolean, you get a true similarly, if you cast a 0 to a Boolean you get a false.

int(True)

1

In [21]:
bool(1)

True

In [22]:
bool(0)

False

In [27]:
float(True)

1.0

In [28]:
#Quiz / Test

In [1]:
#Python follows mathematical conventions when performing mathematical expressions. The following operations are in different order. In both cases Python performs multiplication, then addition to obtain the final result.

2 * 60 + 30

#The expressions in the parentheses are performed first. We then multiply the result by 60, the result is 1920.
    
(30 + 2) * 60

150

In [2]:
#The expressions in the parentheses are performed first. We then multiply the result by 60, the result is 1920.
    
(30 + 2) * 60

1920

In [ ]:
#You can do a variety of mathematical operations in Python including:
#addition: 2 + 2
#subtraction: 5 - 2
#multiplication: 3 * 2
#division: 4 / 2
#exponentiation: 4 ** 2

In [3]:
#variables

In [5]:
43 + 60 + 16 + 41

160

In [6]:
43 + 60 + 16 + 41
x = 43 + 60 + 16 + 41

In [12]:
y = x / 60
y

2.6666666666666665

In [20]:
#It's good practice to use **meaningful variable names**, so you don't have to keep track of what variable is what:
    
total_min = (30 + 30 )
total_min

60

In [21]:
total_hr = total_min / 60  
total_hr

1.0

In [23]:
#You can put this all into a single expression, but remember to use **round brackets** to add together the album lengths first, before dividing by 60.

total_hr = (43 + 42 + 57) / 60  # get total hours in a single expression
total_hr

2.3666666666666667

In [46]:
#Quiz
#What is the value of x?

x = 3 + 2 * 2

3 + 2* 2
#Out: 7
    
#What is the value of y ?
y = (3 + 2) * 2

(3 + 2) * 2
10

x = 3 + 2 * 2
y = (3 + 2) * 2

z = x + y
x + y
17

17

In [37]:
x = 3 + 2 * 2

In [39]:
y = (3 + 2) * 2

In [42]:
z = x + y
x + y

17

In [2]:
3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [18]:
Name = "Michael Jackson"
Statement= Name+"is the best"